
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <!-- Detalle Productos-->
                        <div class="col-sm-9">
                            <div class="me-2">
                                <div class="d-flex justify-content-between">
                                    <h5 class="ms-2 mt-2">Detalle Carrito</h5>
                                    <a class="btn btn-primary rounded-pill" href="@Url.Action("Index","Tienda")"><i class="fas fa-cart-plus"></i> Seguir comprando</a>
                                </div>

                                <hr class="mt-3 mb-2">
                                <div id="productos-carrito">


                                </div>

                                <div class="d-flex justify-content-end">
                                    <label class="align-self-center"><b>Importe total: $ <span id="total">500</span></b></label>

                                </div>

                            </div>
                        </div>

                        <!-- Detalle Envio-->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle Envio</h5>
                                    <form>

                                        <div class="mb-2">
                                            <label for="cboprovincia" class="form-label">Provincia: </label>
                                            <select class="form-select form-select-sm" id="cboprovincia"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cbolocalidad" class="form-label">Localidad: </label>
                                            <select class="form-select form-select-sm" id="cbolocalidad"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtnombrecontacto" class="form-label">Nombre Contacto: </label>
                                            <input type="text" class="form-control form-control-sm" id="txtnombrecontacto">
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtdireccion" class="form-label">Direccion: </label>
                                            <input type="text" class="form-control form-control-sm" id="txtdireccion">
                                        </div>
                                        <div class="mb-3">
                                            <label for="txttelefono" class="form-label">Telefono: </label>
                                            <input type="text" class="form-control form-control-sm" id="txttelefono">
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-success rounded-pill" type="button" onclick="RealizarPago()">
                                                <i class="fab fa-paypal"></i> Terminar y procesar pago
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        function sumarTotal() {

            var sumaTotal = parseFloat(0);

            $("input.input-cantidad").each(function (i) {

                var precio = $(this).data("producto").Precio
                var cantidad = parseFloat($(this).val())

                var subtotal = precio * cantidad

                sumaTotal += subtotal

            });

            $("#total").text(sumaTotal.toFixed(2));
            $("#total").data("sumatotal", sumaTotal);
        }

        $(document).ready(function () {

            jQuery.ajax({
                url: "@Url.Action("ListarProductosCarrito", "Tienda")",
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    $("#productos-carrito").html("");
                    $("#productos-carrito").LoadingOverlay("hide");

                    $.each(response.data, function (i,item) {

                        $("<div>").addClass("card mb-2 card-producto").append(
                            $("<div>").addClass("card-body").append(
                                $("<div>").addClass("row").append(

                                    //1.-
                                    $("<div>").addClass("col-sm-2 align-self-center d-flex justify-content-center").append(
                                        $("<img>").addClass("rounded").attr({ "src": "data:image/" + item.producto.Extension + ";base64," + item.producto.Base64 })
                                            .css({"width":"140px", "height":"110px"})
                                    ),
                                    //2-.
                                    $("<div>").addClass("col-sm-4 align-self-center").append(
                                        $("<span>").addClass("font-wight-bold d-block").text(item.producto.oMarca.Descripcion),
                                        $("<span>").text(item.producto.Nombre)
                                    ),
                                    //3.-
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<span>").text("$ " + item.producto.Precio.toFixed(2))
                                    ),

                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<div>").addClass("d-flex").append(
                                            $("<button>").addClass("btn btn-outline-danger btn-restar rounded-0").append($("<i>").addClass("fas fa-minus")),
                                            $("<input>").addClass("form-control input-cantidad p-1 text-center rounded-0").attr({ "disabled": "disabled" })
                                                .css({ "width": "40px" })
                                                .data("producto", item.producto)
                                                .val(item.Cantidad),
                                            $("<button>").addClass("btn btn-outline-success btn-sumar rounded-0").append($("<i>").addClass("fas fa-plus")),
                                        )
                                    ),

                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<button>").addClass("btn btn-danger btn-eliminar rounded-5").append($("<i>").addClass("far fa-trash-alt"), "Eliminar")
                                            .data("idproducto", item.producto.IdProducto),
                                    )
                                )
                            )
                        ).appendTo("#productos-carrito")

                        sumarTotal();

                    })

                   

                },
                error: function (error) {
                    $("#productos-carrito").LoadingOverlay("hide");
                },
                beforeSend: function () {
                    $("#productos-carrito").LoadingOverlay("show");
                }
            })
            
            ListarProvincias();

        })

        function ListarProvincias() {

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected":"true" }).text("Seleccionar").appendTo("#cboprovincia")

            jQuery.ajax({
                url: "@Url.Action("ObtenerProvincias", "Tienda")",
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdProvincia }).text(item.Descripcion).appendTo("#cboprovincia")
                        })

                        ListarLocalidades()
                    }
                }
            })
        }

        $("#cboprovincia").on("change", function () {
            ListarLocalidades();
        })

        function ListarLocalidades() {

            $("#cbolocalidad").html("")

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbolocalidad")

            jQuery.ajax({
                url: "@Url.Action("ObtenerLocalidades", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idprovincia: $("#cboprovincia option:selected").val() }),
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdLocalidad }).text(item.Descripcion).appendTo("#cbolocalidad")
                        })
                    }
                }
            })
        }



        $(document).on("click", ".btn-sumar", function () {

            var div_contenedor = $(this).parent("div.d-flex");
            var input_cantidad = $(div_contenedor).find("input.input-cantidad");
            var btn = $(this)
            var idproducto = $(input_cantidad).data("producto").IdProducto

            jQuery.ajax({
                url: "@Url.Action("OperacionCarrito", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idproducto: idproducto, sumar : true }),
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.respuesta) {

                        $(btn).LoadingOverlay("hide")

                        var cantidad = parseInt($(input_cantidad).val()) + 1;
                        $(input_cantidad).val(cantidad);
                        sumarTotal();
                    } else {
                        swal("",data.mensaje,"warning")
                    }
                },
                beforeSend: function () {
                    $(btn).LoadingOverlay("show")

                },
                error: function (error) {
                    $(btn).LoadingOverlay("hide")
                }
            })

        })

        $(document).on("click", ".btn-restar", function () {

            var div_contenedor = $(this).parent("div.d-flex");
            var input_cantidad = $(div_contenedor).find("input.input-cantidad");
            var btn = $(this)
            var idproducto = $(input_cantidad).data("producto").IdProducto
            var cantidad = parseInt($(input_cantidad).val()) - 1;

            if (cantidad >= 1) {

                jQuery.ajax({
                    url: "@Url.Action("OperacionCarrito", "Tienda")",
                    type: "POST",
                    data: JSON.stringify({ idproducto: idproducto, sumar : false }),
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.respuesta) {

                            $(btn).LoadingOverlay("hide")

                            $(input_cantidad).val(cantidad);
                            sumarTotal()
                        } else {
                            swal("",data.mensaje,"warning")
                        }
                    },
                    beforeSend: function () {
                        $(btn).LoadingOverlay("show")

                    },
                    error: function (error) {
                        $(btn).LoadingOverlay("hide")
                    }
                })
            }
        })

        $(document).on("click", ".btn-eliminar", function () {

            var idproducto = $(this).data("idproducto");
            var card_producto = $(this).parents("div.card-producto");

                jQuery.ajax({
                    url: "@Url.Action("EliminarCarrito", "Tienda")",
                    type: "POST",
                    data: JSON.stringify({ idproducto: idproducto}),
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.respuesta) {

                            card_producto.remove();

                            MostrarCantidadCarrito();
                            sumarTotal();

                        } else {
                            swal("",data.mensaje,"warning")
                        }
                    }
                })
            
        })

    </script>
}